{% extends "navbar.html" %}

{% block unique_body %}
<title>Main</title>
<main role="main" class="inner cover align-items-center">
    <div class="hui">
        <h1 class="cover-heading">Who Controls Your Data?</h1>
        <p class="lead">This website aims to inform users about various techniques and entities that track their data, offering insights and tools to understand 
          surveillance agents a bit better.</p>
    </div>
    <p class="lead">
        <a href="info" class="btn btn-lg btn-secondary">Get started!</a>
    </p>
</main>
{% endblock %}

